<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SyncService.My.MySettings.ServerNorthwindConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="SyncService.CacheSyncService" behaviorConfiguration="SyncService.CacheSyncServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress ="http://localhost:8080/CacheSyncService/"/>
          </baseAddresses>
        </host>
        <endpoint address ="" binding="wsHttpBinding" contract="SyncService.ICacheSyncContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SyncService.CacheSyncServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
