<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetCheck.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <NetCheck.My.MySettings>
            <setting name="Port" serializeAs="String">
                <value>7585</value>
            </setting>
            <setting name="Name1" serializeAs="String">
                <value>W-LAN</value>
            </setting>
            <setting name="IP1" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="Gate1" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="Name2" serializeAs="String">
                <value>Modem</value>
            </setting>
            <setting name="Gate2" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="Name3" serializeAs="String">
                <value />
            </setting>
            <setting name="IP3" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Gate3" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Name4" serializeAs="String">
                <value />
            </setting>
            <setting name="IP4" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Gate4" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Name5" serializeAs="String">
                <value />
            </setting>
            <setting name="IP5" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Gate5" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="IP2" serializeAs="String">
                <value>1.1.1.1</value>
            </setting>
        </NetCheck.My.MySettings>
    </userSettings>
</configuration>
